<div class="card m-3">

<h3>Angular Reactive Form Validation  </h3>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <input type="text"  class="form-control" placeholder="Name" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && form.fullName.errors }" />
                    <div *ngIf="submitted && form.fullName.errors" class="invalid-feedback">
                        <div *ngIf="form.fullName.errors.required">Name is required</div>
                        
                    </div>
                </div>
                 <div class="form-group">
                    <input type="text" name="email" class="form-control"  placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />   
                    <div>
                        <p *ngIf="form.email.errors?.required && !form.email.pristine" class="error-msg">
                            Field is required
                        </p>
                        <p *ngIf="form.email.errors?.email && !form.email.pristine" class="error-msg">
                            Field is format email
                        </p>
                    </div>
                   
                
                </div>
                    <div class="form-group">
                    <textarea class="form-control" rows="3"name="comment" placeholder="Comment" maxlength="150" [formControl]="contactForm.get('comment')" ></textarea>
                </div>
            <button type="submit" class="btn btn-primary" value="add"[disabled]="!contactForm.valid">Add</button>
       
                
            </form>
        </div>


        
        <div class="col-md-6 offset-md-1" [hidden]="!submitted">
            <div class="media mb-3" >
                <img src="http://lorempixel.com/64/64/people/" class="mr-3" alt="...">
                <div class="media-body" >
                    <h5 class="mt-0">Name: {{ contactForm.value.fullName | json }}</h5>
                    <h6>email: {{ contactForm.value.email | json }}</h6>
                    <p class="comment"  *ngFor="let com of comment;let index = index ">comment: {{ contactForm.value.comment | json }}</p>  
                    <div >
                        <button type="button" class="btn btn-primary btn-sm" (click)="remove (index)">Delete comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>